* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  .bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
}


.navbar{
  display: flex;
  align-items: center;
  padding: 5px;
}
nav{
  flex: 1;
  text-align: right;
}
nav ul{
  display: inline-block;
  list-style-type: none;
}
nav ul li{
display: inline-block;
margin-right: 20px;
}

a{
  text-decoration: none;
  color: rgb(47, 42, 36);
}
p{
  color: rgb(47, 42, 36);
}

.container{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}
.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.col-2 p {
  font-size: 20px;
  line-height: 30px;
  margin: 25px;
}

.btn{
  display: inline-block;
  background: rgb(186, 74, 126);
  color: black;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
 
}

.header {
  background: radial-gradient(circle, rgb(230, 168, 180), rgb(139, 88, 117));
}


.header .row{
  margin-top: 70px;
}

.btn:hover{
  background: #96eb79;
}

.col-3{
  margin: 70px 0;
}
.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}
.col-3 img{
  width: 100%;
}
.uniform-size {
  width: 100%; 
  height: 400px; 
  object-fit: cover; 
}

.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.col-4{
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.78s ;
}
.col-4 img{
  width: 100%;
}

/*<!-----------star-rating--------->*/
.star-rating {
  display: flex; /* Use flexbox to align items */
  justify-content: center; /* Center the stars horizontally */
  margin: 10px 0; /* Add some spacing around the stars */
}

.star-rating i {
  color: pink; /* Set the color of the stars to pink */
  font-size: 20px; /* Set the size of the stars */
  margin: 0 2px; /* Add some space between the stars */
}


/*title in the middle*/
.title{
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: rgb(15, 78, 104) ;
}

.title::after{
  content:'';
  background: rgba(215, 96, 37, 0.884);
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

h4{
  color: rgb(94, 77, 55);
  font-weight: normal;
}

.col-4 p{
  font-size: 14px;
}

.col-4:hover{
  transform: translateY(-5px);
}

.offer{
  background: radial-gradient(circle, rgb(242, 157, 174), rgb(206, 119, 119));
  margin-top: 80px;
  padding: 30px;
}


/*image manipulation*/
.col-2 .offer-img{
  padding: 50px;
}

small{
  color: rgb(100, 80, 80);
}



.testimonial{
  padding-top: 100px;
}
.testimonial .col-3{
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5;
}
.testimonial .col-3 img{
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}
.testimonial .col-3:hover{
  transform: translateY(-10px);
}

.fas .fa-quote-left{
  font-size: 34px;
  color: pink;

}

.col-3 p{
  font-size: 12px;
  margin: 12px 0;
  color: rgb(136, 63, 205);

}
.testimonial .col-3 h3{
  font-weight: 600;
  color:rgb(15, 78, 104);
  font-size: 16px;
}

/*----------brand----------*/
.uniform-size3{
  width: 100%; 
  height: 100px; 
  object-fit: cover; 

}
.brand{
  margin: 100px auto;
}

.col-5{
  width: 160px;

}
.col-5 img{
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}

.col-5 img:hover{
  filter: grayscale(0%);
}

/*-------footer----*/
.footer{
  display: flex;
  background: #e5a1d7;
  color: #331f1f;
  font-size: 14px;
  padding: 60px 20px;
}
.footer p{
  color: #2d1717
}

.footer h3{
  color:rgb(153, 125, 88);
  margin-bottom: 20px;
}

.footer-col-1, .footer-col-2,.footer-col-3,.footer-col-4{
  flex: 25%;
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-1{
  flex-basis: 30%;
}
.footer-col-2{
  flex: 25%;
  text-align: center;
}
.footer-col-2 img{
  width:100px;
  margin-bottom: 3px;
  
}
.footer-col-3,.footer-col-4{
  flex-basis: 12%;
  text-align: center;
}
ul{
  list-style-type: none;
}
.app-logo{
  margin-top:20px;
}
.app-logo img{
  width: 140px;
}
.footer hr{
  border: none;
  background: #817e7e;
  height: 1px;
  margin: 20px 0;
}
.copyright{
  text-align: center;
}

/*media query for menu*/
.menu-icon{
  width: 20px;
  margin-left: 20px;
  display: none;
}
/*------media query for menu ------*/
@media only screen and (max-width:700px)
{
  nav ul{
    position: absolute;
    top: 100px;
    left: 0;
    background: #aa7aaa ;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.3s;
  }
  nav ul li{
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a{
    color: aliceblue;
  }
  .menu-icon{
    display: block;
    cursor: pointer;
  }
}

/*media for less than 600px*/
@media only screen and (max-weidth:600px){
  .row{
    text-align: center;
  }
  .col-2{
    flex-basis: 100%;
  }
  .col-3,.col-4{
    flex-basis: 100%;
  }
  .single-product .row{
    text-align: left;
  }
  .single-product .col-2{
    padding: 20px 0;
  }
  .single-product h1{
    margin: 20px 0;
    font-size: 40px;
    font-weight: bold;
  }
  .cart-info p{
     display: none;
  }

  
}
/*all products page*/
.row-2{
  justify-content: space-between;
  margin: 100px auto 50px;
}
select{
  border: 1px solid goldenrod;
  padding: 5px;
}
select:focus{
  outline: none;
}
.page-btn{
  margin: 0 auto 80px;
}


.page-btn span{
  display: inline-block;
  border: 1px solid #932a8b;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.page-btn span:hover{
  background: #aa7aaa;
  color:white;

}
/*------single product details-------*/
.single-product{
  margin-top: 80px; 
}
.single-product .col-2 img{
  padding: 0;
}
.single-product .col-2{
  padding: 20px;
}
.single-product h1{
  margin: 20px 0;
  font-size: 30px;
  font-weight: bold;
}
.single-product h4{
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}
.single-product select{
  display: block; 
  padding: 10px;
  margin-top: 20px;
}
.single-product input{
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid goldenrod;
}
input:focus{
  outline:none;
}
.single-product .fa{
  color: goldenrod;
  margin-left: 10px;
}
.single-product p{
  margin-left: 0px;
}
.small-img-row{
  display: flex;
  justify-content: space-between;
}
.small-img-col{
  flex-basis: 24%;
  cursor: pointer;
}
.resized-img {
  width: 500px; 
  height: 600px; 
  object-fit: contain;
}
/*cart items details*/
.cart-page{
  margin: 80px auto;
}
table{
  width: 100%;
  border-collapse: collapse;
}
.cart-info{
  display: flex;
  flex-wrap: wrap;
}
th{
  text-align: left;
  padding: 5px;
  color: white ;
  background-color: #d6a1d6;
  font-weight:normal ;
}

td{
  padding: 10px 5px;
}
td input{
  width: 40px;
  padding: 5px;
  height: 30px;
}
td a{
  color:#d6a1d6;
  font-size: 12px ;
}

td img{
  width: 80px;
  height: 80px;
  margin-right: 10px ;
}

.total-price{
  display: flex;
  justify-content: flex-end;
}
.total-price table{
  border-top: 3px solid goldenrod;
  width: 100%;
  max-width: 450px;
}
td:last-child{
  text-align: right;
}
th:last-child{
  text-align: right;
}
/*----account-page----*/

.account-page{
  padding: 50px 0 ;
  background:  radial-gradient(circle, #ea80d4, #e5a1d7);
}
.form-container{
  background: #fff;
  width: 300px;
  height: 400px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);  
  overflow: hidden; 
}
.form-container span{
  font-weight: bold;
  padding: 0 10px;
  color: #555;
  cursor: pointer;
  width: 100px;
  display: inline-block;
}
.form-btn{
  display: inline-block;

}
.form-container form {
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 130px;
  transition: transform 1s;
}

form input{
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #ccc;
}
form .btn{
  width: 100px;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}
form .btn:focus{
  outline: none;
}
#LoginForm{
  left: -300px;

}
#RegForm{
  left: 0;
}

form a{
  font-size: 12px;
}
#Indicator{
  width: 100px;
  border: none;
  background: #f36dd4;
  height: 3px;
  margin-top:8px ;
  transform: translateX(100px);
}
.colspec{
  display: flex;
  justify-content: center;
  align-items: center;
}
#product-list {
  max-width: 800px;
  margin: 0 auto;
}



