@import url('https://fonts.googleapis.com/css2?family=Playwrite+HR+Lijeva:wght@100..400&display=swap');
body{
    font-family: "Playwrite HR Lijeva", cursive; 
    margin: 0; 
}
.container{
    width: 1280px;
    max-width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 10px ;
}
svg{
    width: 30px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

}

header .icon-cart{
    position: relative;
}

header .icon-cart span {
    display: block;
    width: 30px;
    height: 30px;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -20px;
}
